{% extend "base.html" %}
{% extends "base.html" %}
{% block content %}
<h1>информация о знаке зодиака</h1>
<h1>{{ ages_horoscop.name }}</h1>
<!--<div><img src="{{ url_for('static', filename=zodiac.picture_link) }}" class="img-fluid" alt="Responsive image"></div>-->
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ url_for('static', filename=ages_horoscop.picture_link) }}" alt="Card image cap">
        </div>
    </div>
</div>

<div>{{ ages_horoscop.text }}</div>


{% endblock %}