<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="Bootstrap Sub-Menus">
    <meta name="keywords" content="bootstrap dropdown jquery-plugin submenu">
    <meta name="author" content="Vasilii A.">
    <meta name="robots" content="nofollow">
    <meta name="google" content="notranslate">

    <title>Bootstrap-submenu</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap-submenu.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.5.0/styles/default.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/docs.css') }}">
    {% block head %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.js" defer></script>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@10.5.0/highlight.js" defer></script>
    <script src="{{ url_for('static', filename="dist/js/bootstrap-submenu.js") }}" defer></script>
    <script src="{{ url_for('static', filename="js/docs.js") }}" defer></script>
</head>

<body>
<div class="container py-3" id="container">


    <nav class="navbar navbar-light bg-light navbar-expand-sm mb-3">
        <a class="navbar-brand">Navbar</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

<!--        контейнер для меню-->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for ("views.home") }}">Главная</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" tabindex="0" data-toggle="dropdown" data-submenu>
                        Астрология
                    </a>

                    <div class="dropdown-menu">
                        <div class="dropdown dropright dropdown-submenu">
                            <button class="dropdown-item dropdown-toggle" type="button" data-toggle="dropdown">Знаки
                                зодиака
                            </button>
                            <div class="dropdown-menu">

                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.zodiac_info',name ='Овен') }}">Овен</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.zodiac_info',name ='Телец') }}">Телец</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.zodiac_info',name ='Близнец') }}">Близнец</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.zodiac_info',name ='Рак') }}">Рак</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.zodiac_info',name ='Лев') }}">Лев</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.zodiac_info',name ='Дева') }}">Дева</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.zodiac_info',name ='Весы') }}">Весы</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.zodiac_info',name ='Скорпион') }}">Скорпион</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.zodiac_info',name ='Стрелец') }}">Стрелец</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.zodiac_info',name ='Козерог') }}">Козерог</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.zodiac_info',name ='Водолей') }}">Водолей</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.zodiac_info',name ='Рыба') }}">Рыба</a></button>
                            </div>
                        </div>

                        <div class="dropdown dropright dropdown-submenu">
                            <button class="dropdown-item dropdown-toggle" type="button" data-toggle="dropdown">
                                Китайский гороскоп
                            </button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.AgeHoroscop_info',name ='Крыса') }}">Год Крысы</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.AgeHoroscop_info',name ='Бык') }}">Год Быка</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.AgeHoroscop_info',name ='Тигр') }}">Год Тигра</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.AgeHoroscop_info',name ='Кот') }}">Год Кота</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.AgeHoroscop_info',name ='Дракона') }}">Год Дракона</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.AgeHoroscop_info',name ='Змеи') }}">Год Змеи</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.AgeHoroscop_info',name ='Коня') }}">Год Коня</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.AgeHoroscop_info',name ='Овца') }}">Год Овцы</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.AgeHoroscop_info',name ='Обезьяна') }}">Год Обезьяны</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.AgeHoroscop_info',name ='Петух') }}">Год Петуха</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.AgeHoroscop_info',name ='Собака') }}">Год Собаки</a></button>
                                <button class="dropdown-item" type="button"><a href = "{{ url_for('views.AgeHoroscop_info',name ='Собака') }}">Год Кабана</a></button>
                            </div>
                        </div>

                    </div>

                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" tabindex="0" data-toggle="dropdown" data-submenu>
                        Психология
                    </a>

                    <div class="dropdown-menu">

                        <button class="dropdown-item" type="button">Системно-векторная психология</button>
                        <button class="dropdown-item" type="button">Темпераменты</button>
                        <button class="dropdown-item" type="button">Эмоциональное выражение</button>


                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" tabindex="0" data-toggle="dropdown" data-submenu>
                        Философия жизни
                    </a>

                    <div class="dropdown-menu">

                        <button class="dropdown-item" type="button">343243</button>
                        <button class="dropdown-item" type="button">23423423</button>
                        <button class="dropdown-item" type="button">23423</button>


                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" tabindex="0" data-toggle="dropdown" data-submenu>
                        Йога
                    </a>

                    <div class="dropdown-menu">
                        <div class="dropdown dropright dropdown-submenu">
                            <button class="dropdown-item dropdown-toggle" type="button" data-toggle="dropdown">Семь чакр
                            </button>
                            <div class="dropdown-menu">

                                <button class="dropdown-item" type="button">Муладхара</button>
                                <button class="dropdown-item" type="button">Свадхистана</button>
                                <button class="dropdown-item" type="button">Манипура</button>
                                <button class="dropdown-item" type="button">Анахата</button>
                                <button class="dropdown-item" type="button">Вишудха</button>
                                <button class="dropdown-item" type="button">Аджна</button>
                                <button class="dropdown-item" type="button">Сахасрара</button>
                                <button class="dropdown-item" type="button">Скорпион</button>
                                <button class="dropdown-item" type="button">Стрелец</button>
                                <button class="dropdown-item" type="button">Козерог</button>
                                <button class="dropdown-item" type="button">Водолей</button>
                                <button class="dropdown-item" type="button">Рыба</button>
                            </div>
                        </div>

                    </div>

                </li>

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for("auth.sign_up") }}">Регистрация</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" aria-current="page" href="{{ url_for("auth.my_profile") }}">Мой профиль</a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{{ url_for("auth.login") }}">Войти</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>


</div>

<a class="js-scroll-top scroll-top btn btn-primary btn-sm hidden" href="#container" hidden>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
    </svg>
</a>
{% block content %}
{% endblock %}
</body>
</html>
