<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.css">
    <link rel="stylesheet" href="static/dist/css/bootstrap-submenu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.5.0/styles/default.min.css">
    <link rel="stylesheet" href="static/css/docs.css">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.js" defer></script>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@10.5.0/highlight.js" defer></script>
    <script src="static/dist/js/bootstrap-submenu.js" defer></script>
    <script src="static/js/docs.js" defer></script>

</head>
<body>
<div class="container">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>




                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Астрология
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Знаки зодиака</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">12 знаков зодиака</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#">Овен</a></li>
                                <li><a tabindex="-1" href="#">Телец</a></li>
                                <li><a tabindex="-1" href="#">Близнец</a></li>
                                <li><a tabindex="-1" href="#">Рак</a></li>
                                <li><a tabindex="-1" href="#">Лев</a></li>
                                <li><a tabindex="-1" href="#">Дева</a></li>
                                <li><a tabindex="-1" href="#">Весы</a></li>
                                <li><a tabindex="-1" href="#">Скорпион</a></li>
                                <li><a tabindex="-1" href="#">Стрелец</a></li>
                                <li><a tabindex="-1" href="#">Козерог</a></li>
                                <li><a tabindex="-1" href="#">Водолей</a></li>
                                <li><a tabindex="-1" href="#">Рыба</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">Китайский гороскоп</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">12 годовых животных</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#">Год Крысы</a></li>
                                <li><a tabindex="-1" href="#">Год Быка</a></li>
                                <li><a tabindex="-1" href="#">Год Тигра</a></li>
                                <li><a tabindex="-1" href="#">Год Кота</a></li>
                                <li><a tabindex="-1" href="#">Год Дракона</a></li>
                                <li><a tabindex="-1" href="#">Год Змеи</a></li>
                                <li><a tabindex="-1" href="#">Год Коня</a></li>
                                <li><a tabindex="-1" href="#">Год Овцы</a></li>
                                <li><a tabindex="-1" href="#">Год Обезьяны</a></li>
                                <li><a tabindex="-1" href="#">Год Петуха</a></li>
                                <li><a tabindex="-1" href="#">Год Собаки</a></li>
                                <li><a tabindex="-1" href="#">Год Кабана</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Психология
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Системно-векторная психология</a></li>
                        <li><a class="dropdown-item" href="#">Темпераменты</a></li>
                        <li><a class="dropdown-item" href="#">Эмоциональное выражение</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Философия жизни
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Йога
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Семь чакр</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#">Муладхара</a></li>
                                <li><a tabindex="-1" href="#">Свадхистана</a></li>
                                <li><a tabindex="-1" href="#">Манипура</a></li>
                                <li><a tabindex="-1" href="#">Анахата</a></li>
                                <li><a tabindex="-1" href="#">Вишудха</a></li>
                                <li><a tabindex="-1" href="#">Аджна</a></li>
                                <li><a tabindex="-1" href="#">Сахасрара</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">О сайте</a>
                </li>


            </ul>

        </div>
    </div>
</nav>
</body>
</html>