{% extends "base.html" %}
{% block head %}


{% endblock %}
{% block content %}
    {% for cat, message in get_flashed_messages(True) %}
        <div class="alert alert-{{ cat }}" role="alert">{{ message }}</div>
    {% endfor %}

    <div class="page-hero d-flex align-items-center justify-content-center">

        <div class="card border-primary mb-3 " style="width: 22rem;">
            <div class="card-body">
                <form action="{{ url_for('auth.login') }}" role="form" class="form-horizontal" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Почта</label>
                        <input type="email" class="form-control" id="email" name ="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Пароль</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me">
                        <label class="form-check-label" for="remember_me">Запомнить меня</label>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Войти"/>
                </form>
            </div>
        </div>
    </div>

{% endblock %}