{% extends "base.html" %}
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="surname" class="form-label">Фамилия</label>
        <input type="text" class="form-control" id="surname">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Имя</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Отчество</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Пол</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Область специализации</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Номер телефона</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Я даю согласие на обработку моих персональных данных,
            указанных в этой веб-форме, а также данных, которые будут указаны мной в личном кабинете после регистрации,
            включаю право поручения обработки другим лицам, на условиях, изложенных в Политике в отношении обработки
            персональных данных в Интернете, с которой я ознакомился.</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>